<div class="card">
  <div class="currencyField">
    <span class="text">From</span>
    <input class="currency" type="text" (input)="inputHandlerValueFrom($event)" numericOnly debounceTime="1000"   [(ngModel)]='allData.old_amount'> 
    <mat-select  class="currency select" (selectionChange)="selectChangeFrom($event)" [(ngModel)]="allData.old_currency">
      <mat-select-trigger class="trigger_text" >
        <img  with="30" height="30" [src]="selectedCurrencyFrom.img">
        {{selectedCurrencyFrom.name}}
      </mat-select-trigger>
      <mat-option *ngFor="let currency of currencys" [value]="currency.name">
        <img  with="30" height="30" [src]="currency.img">
        {{currency.name}}
      </mat-option>
    </mat-select>
  </div>
  <div>
    <button (click)="onButtonClick()" class="switch">
      <img src="../assets/button.svg" alt="">  
    </button>
  </div>
  <div class="currencyField">
    <span class="text">To</span>
    <input class="currency"  type="text"  (input)="inputHandlerValueTo($event)" numericOnly debounceTime="1000"  [(ngModel)]="allData.new_amount" >
    <mat-select class="currency select" (selectionChange)="selectChangeTo($event)" [(ngModel)]="allData.new_currency">
      <mat-select-trigger class="trigger_text">
        <img  with="30" height="30" [src]="selectedCurrencyTo.img">
        {{selectedCurrencyTo.name}}
      </mat-select-trigger>
      <mat-option class="option" *ngFor="let currency of currencys" [value]="currency.name">
        <img with="30" height="30" [src]="currency.img">
        {{currency.name}}
      </mat-option>
    </mat-select>
  </div>
</div>