<div>
  <span>USD/UAH</span>
  {{curUSD}}
</div>
<div class="card">
  <div>
    <input type="text" (input)="inputHandlerValueFrom($event)" value={{valueFrom}}> 
    <select (change)="selectChangeFrom($event)">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="UAH">UAH</option>
    </select>
  </div>
  <div>
    <input  type="text" (input)="inputHandlerValueTo($event)" value={{valueTo}}> 
    <select (change)="selectChangeTo($event)">
      <option default value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="UAH">UAH</option>
    </select>
  </div>
</div>
